<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header bg-dark">
        <h3 class="card-title text-white">
          Password
        </h3>
      </div>
      <div class="card-body">
        <form #pass="ngForm" (ngSubmit)="onEditPassword(pass)" [appMatchPassword]="[ 'newPassword', 'confirmNewPassword' ]">
          <div class="form-group">
            <input  type="password" class="form-control" name="currentPassword" placeholder="Current Password"
                    required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}$"
                    #currentPassword="ngModel" [(ngModel)]="user.currentPassword"
                    [ngClass]="{ 'is-invalid': pass.submitted && currentPassword.invalid || customFormError.currentPassword.show }"
                    (keydown)="onClearError($event)">
            <div *ngIf="pass.submitted && currentPassword.invalid" class="invalid-feedback">
              <div *ngIf="currentPassword.errors.required">Current Password is required</div>
              <div *ngIf="currentPassword.errors.minlength">Current Password must be at least 8 characters</div>
              <div *ngIf="currentPassword.errors.pattern">Current Password must contain at least a uppercase, a lowercase, a number and a special character</div>
            </div>
            <div *ngIf="customFormError.currentPassword" class="invalid-feedback">{{ customFormError.currentPassword.msg }}</div>
          </div>
          <div class="form-group">
            <input  type="password" class="form-control" name="newPassword" placeholder="New Password"
                    required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}$"
                    #newPassword="ngModel" [(ngModel)]="user.newPassword"
                    [ngClass]="{ 'is-invalid': pass.submitted && newPassword.invalid || customFormError.password.show }"
                    (keydown)="onClearError($event)">
            <div *ngIf="pass.submitted && newPassword.invalid" class="invalid-feedback">
              <div *ngIf="newPassword.errors.required">New Password is required</div>
              <div *ngIf="newPassword.errors.minlength">New Password must be at least 8 characters</div>
              <div *ngIf="newPassword.errors.pattern">New Password must contain at least a uppercase, a lowercase, a number and a special character</div>
            </div>
            <div *ngIf="customFormError.password" class="invalid-feedback">{{ customFormError.password.msg }}</div>
          </div>
          <div class="form-group">
            <input  type="password" class="form-control" name="confirmNewPassword" placeholder="Confirm New Password"
                    required
                    #confirmNewPassword="ngModel" [(ngModel)]="user.confirmNewPassword"
                    [ngClass]="{ 'is-invalid': pass.submitted && confirmNewPassword.invalid }">
            <div *ngIf="pass.submitted && confirmNewPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmNewPassword.errors.required">Confirm New Password is required</div>
              <div *ngIf="confirmNewPassword.errors.matchPassword">Passwords must match</div>
            </div>
          </div>
          <button class="btn btn-success btn-block">
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>